/**
  |============================
  | include css partials with
  | default @import url()
  |============================
*/
@import url('./reset.css');
@import url('./vite-promo.css');
@import url('./header.css');

:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color: #242424;
  background-color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.timer-body {
  height: 100vh;
  font-family: Arial, sans-serif;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.timer {
  display: flex;
  gap: 10px;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 2rem;
}

.label {
  font-size: 1rem;
}

.timer-nav {
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 25px;
  padding: 20px;
  border-bottom: 1px solid black;
  background-color: rgb(237, 234, 231);
}

.timer-nav a {
  color: rgb(82, 91, 217);
  padding: 10px, 20px;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.timer-nav a:hover {
  color: rgb(5, 9, 66);
  transform: scale(1.1);
}

.timer-section {
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  justify-content: center;
  padding: 0 10px;
  position: relative;
}

.timer-section::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background: url(https://ukranews.com/upload/news/2019/10/27/5db4d1e1d57c4-time-3222267-960-720_1200.jpg),
    #000;
  background-position: center;
  background-size: cover;
  z-index: -1;
  border-image: fill 0 linear-gradient(#0001, #000);
}

.container-timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  gap: 20px;
  padding: 32px;
  border: 2px solid #080101;
  text-align: center;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(9px);
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.3);
}

button {
  width: 75px;
  height: 40px;
  top: 372px;
  left: 28px;
  padding: 8px 16px 8px 16px;
  gap: 10px;
  border-radius: 8px;
  opacity: 0px;
  border: none;
  background-color: #4e75ff;
  color: #ffffff;
}

button:hover {
  background-color: #6c8cff;
}

button:disabled {
  background-color: #cfcfcf;
  color: #989898;
}

#datetime-picker {
  width: 272px;
  height: 40px;
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: left;
  padding: 10px;
}

#datetime-picker:hover {
  border-color: #000000;
  outline: none;
}

#datetime-picker:focus {
  border-color: #4e75ff;
  outline: none;
}

#datetime-picker:disabled {
  border-color: #FAFAFA;
  outline: none;
  background-color: #FAFAFA;
  color: #808080;
}


/* ================== Sneckbar section ========================= */


.snackbar-section{
  display: flex;
  align-items: center;
  height: 100vh;
  width: 100%;
  justify-content: center;
  padding: 0 10px;
  position: relative;
  background-image: url(https://habrastorage.org/getpro/geektimes/post_images/d30/3d5/b32/d303d5b32b669b8246d73b1a361f267b.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  border-image: fill 0 linear-gradient(#0001, #000);

}

.snackbar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  gap: 20px;
  padding: 32px;
  border: 2px solid #080101;
  text-align: center;
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(9px);
  margin: 0 auto;

  background: rgba(255, 255, 255, 0.3);
}

.delay {
  margin-bottom: 20px;
}

.snackbar-btn {
 margin-top: 24px;
 width: 100%;
 background-color: #4E75FF;
 font-size: 16px;
 font-weight: 500;
}



.main-section {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
  
}


.loader {
  width: 45px;
  aspect-ratio: 1;
  --c: no-repeat linear-gradient(#000 0 0);
  background: 
    var(--c) 0%   50%,
    var(--c) 50%  50%,
    var(--c) 100% 50%;
  background-size: 20% 100%;
  animation: l1 1s infinite linear;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes l1 {
  0%  {background-size: 20% 100%,20% 100%,20% 100%}
  33% {background-size: 20% 10% ,20% 100%,20% 100%}
  50% {background-size: 20% 100%,20% 10% ,20% 100%}
  66% {background-size: 20% 100%,20% 100%,20% 10% }
  100%{background-size: 20% 100%,20% 100%,20% 100%}
}

.main-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
  margin: 0;
}


.links-container {
  display: flex;
  gap: 20px; 
}


.nav-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-decoration: none;
  color: #000;
}


.nav-link img {
  width: 500px; 
  height: auto;
  margin-bottom: 10px; 
  height: 500px;
}